@import "../../scss/colors";

$spacing: 42px;

.productHeader {
    height: 60px;
    width: 100%;
    background-color: $black2-books;
    display: flex;
    justify-content: space-between;

    color: $white-books;

    padding: 10px $spacing 10px $spacing;

    h2 {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }

    h1 {
        margin: 0;
        color: $white-books;
    }

    .backArrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
}