@import "../../scss/colors";

$radius: 10px;
$card-width: 310px;
$title-height: 62px;

.card {
    height: 245px;
    width: $card-width;
    border-radius: $radius;
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;

    background-color: $white-books;

    .cuartoImg {
        width: $card-width;
        height: 183px;
        object-fit:cover ;

        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }

    .cardInfo {
        background-color: $white-books;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        border: 0;

        min-width: $card-width;
        max-width: $card-width;
        height: $title-height;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;

        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 700;
            font-size: 20px;
            margin: 0;
            color: $black2-books;
        }

        p {
            font-weight: 700;
            font-size: 14px;
            margin: 0;
            color: $grey-books;
        }
    }
}