@import "../../scss/vars";
@import "../../scss/colors";

.header {
    height: $header-height;
    width: 100vw;
    position: fixed;
    background-color: $white-books;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{
        margin-left: 40px;
    }

    .loginButtons{
        margin-right: 40px;

        Button {
            margin-left: 6px;
            margin-right: 6px;
        }

        .drawerBtn{
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
}