@import "../../scss/vars";

header {
  height: $header-height;
  width: 100vw;
  position: sticky;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-left: 40px;
    margin-right: 40px;
  }
}
