@import "../../scss/colors";

.categoriesSection{
    background-color: $white-books;
    width: 100%;
    h2{
        font-size: 24px;
    }
}


@media only screen and (max-width: 768px) {
    .categoriesSection{
        padding: 36px 12px;

        .categoriesGrid{
            display: grid;
            width: 100%;
            gap: 17px;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

}

@media only screen and (min-width: 768px) {
    .categoriesSection{
        padding: 30px 23px;

        .categoriesGrid{
            display: grid;
            width: 100%;
            gap: 17px;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .categoriesSection{
        padding: 17px 40px;
        
        .categoriesGrid{
            display: grid;
            width: 100%;
            gap: 17px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}