@import "../../scss/colors";

.modal-lg {
    width: 715px !important;
}

.modal-body{
    padding: 0;
}

.closeBtn {
    background: none;
    border: none;
    padding: 16px;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    color: $white-books;

    /* X */
    position: absolute;
    right: 10px;

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    /* gris suave */
    color: #FFFFFF;

    /* sombra card */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}