@import "../../scss/colors";

.bottomBorder {
    border-bottom: 1px solid $black2-books;
}

@media only screen and (max-width: 768px) {
    $normalPadding: 15px;
    $dTopHeight: 175px;
    $linksHeight: 80px;
    $controlsHeight: calc(100vh - ($dTopHeight + $linksHeight));
    .drawer {
        margin: 0 !important;      
        z-index: 3;
        position: absolute;
        right: 0px;
        top: 0;
        animation: drawerOpen 0.25s;

        @keyframes drawerOpen {
            from {right: -200px;}
            to {right: 0px;}
          }

        width: 300px;
        height: 100vh;

        border: 1px solid $light-books;

        .drawerTop {
            height: $dTopHeight;
            background-color: $red-books;
            padding: $normalPadding;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .closeBtn {
                background: none;
                border: none;
                padding: 0;
                font-size: 24px;
                font-weight: 800;
                cursor: pointer;
                color: $white-books;
                align-self: baseline;
            }

            h1 {
                font-size: 20px;
                align-self: flex-end;
                margin: 0;
            }
        }

        .drawerBottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: calc(100vh - $dTopHeight);
            padding: $normalPadding;

            background-color: $white-books;

            .controls {
                text-align: end;
                
                height: $controlsHeight;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .controlsTop {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black2-books;
                    

                    .controlBox {
                        height: 60px;
                        margin: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: end;

                        button{
                            margin: 0;                
                            background: none;
                            border: none;
                            padding: 2px;
                            text-decoration: none;
                            color: $black2-books;
                            cursor: pointer;
                        }

                        a {
                            margin: 0;
                            text-decoration: none;
                            color: $black2-books;
                        }
                    }
                }

                .controlsBottom {
                    margin-top: auto;
                    justify-self: end;
                    font-size: 12px;
                    font-weight: 500;

                    a {
                        text-decoration: none;
                    }
                }
            }

            .links {
                height: 80px;

                align-self: flex-end;
                display: flex;
                align-items: center;

                & > * {
                    margin-left: 15px;
                }
            }
        }
    }

    .hiddenDrawer{
        display: none;
    }
}

@media only screen and (min-width: 768px) {

}