@import "../../scss/colors";

.button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    text-align: center;
    background-color:$red-books;
    border: 1px solid $red-books;
    color: $white-books;
}

.fechasDisponibles{

    background-color: rgba(239, 239, 239, 0.524);
    padding: 0 3rem;
}
.contenedorCalendario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap:100px;
    
}

.contendorReserva{
    max-width: 500px;
    background-color: $white-books;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);    
}


    .sd{
        
        text-decoration: line-through;
           color: $grey-books;
          
    
}

//Estilos Tablet

@media screen and (max-width: 768px){
    .contenedorCalendario{
        flex-direction: column;
        width: 100%;
        gap: 10px;
        text-align: left;
    }

    .contendorReserva{
        display: flex;
        gap: 15px;
        background-color: rgba(239, 239, 239, 0.524);   
        box-shadow: none;
       
    }
    .button{ 
        display: flex;
        width: 50%;  
        align-items: center;
        justify-content: center;
        align-self: center;
        color: $white-books;
    } 
}

//Estilos Mobile

@media screen and (max-width: 460px){


    .contenedorCalendario{
        flex-direction: column;
        gap: 15px;
        text-align: start;
    }

    .contendorReserva{
        flex-direction: column;
        background-color: rgba(239, 239, 239, 0.524);
        padding: 0px;
        border-radius: none;
        box-shadow: none;   
    }
    
    .button{
        width: 100%;
        justify-content: center;
        color: $white-books;
    }
    
    

    }


//Estilos calendario

.rmdp-wrapper{
    box-sizing: border-box;
    padding: 13px;
}

.rmdp-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}

.rmdp-container {
        
    
    .rmdp-input {
        width: 100%;
        height: 40px;
        padding: 0.5rem;
        font-size: 1rem;
        
    }
}


.rmdp-calendar {
    padding: 0px 50px 0px 50px;
  
    .rmdp-header {
        margin-top: 0px;

        .rmdp-arrow-container {
            background-color: $red-books;
            box-shadow: none;
            padding:5px;
            
        }
        .rmdp-arrow {
            border-color: $white-books;
            padding:3px;
            
        }
    }

    .rmdp-day-picker {
        padding: 0;
    

        & > *:first-child {
            border-right: 1px solid $grey-books;
            padding-right: 12px;
        }
        
    
        .rmdp-week {
            .rmdp-week-day {
                color: $black1-books;
              
            }

            .rmdp-day {
                margin: 5px;
            pointer-events: none;
                
            }
            .rmdp-today {
                .sd {
                    color: $black1-books;
                    background-color: $white-books;
                
                }
            }
            .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden)  {
              .sd{
                
              //  text-decoration: line-through;
                //   color: $grey-books;
              }
            }

        }
    }
}