@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
}

.login-container {
  margin: 0;
  padding: 1rem 2rem;
  background-color: gray;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-title {
  text-align: center;
  color: #1dbeb4;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  width: 70%;
  max-width: 500px;

  @media (max-width: 768px) {
    width: 100%;
  }
  .login-label p {
    color: #383b58;
    text-align: left;
    margin: 5px;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .login-input {
    padding: 1rem;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    font-family: Poppins;
  }
  .login_ingresar {
    display: flex;
    flex-direction: column;
  }
  .login_ingresar button {
    background: #1dbeb4;
    /* botton sombra */

    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin: 40px auto 2px 150px;
    width: 206px;
    height: 40px;
    color: white;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  .login_ingresar span {
    display: flex;
    text-align: center;
    font-size: 0.8rem;
    margin-left: 10rem;
  }
}
