@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
//font-family: 'Quicksand', sans-serif;

@import "~bootstrap/scss/bootstrap";

@import "./scss/vars";
@import "./scss/colors";

body {
  font-family: 'Quicksand', sans-serif;
}

main {
  position: absolute;
  top: $header-height;

  width: 100vw;
  height: $main-height;

  overflow-y: scroll;

  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


//Estilos para los selects
.selectBooking {
  &__control {
      height: 40px;
      box-shadow: 0px 1px 5px 0px #00000026;
      background-color: $white-books;
  
      border-radius: 5px;
      border: 1px solid $white-books !important;
      padding: 1px;
  }

  &__indicator-separator {
      display: none;
  }
}