@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
//font-family: 'Quicksand', sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Quicksand', sans-serif;
}