.SearchBar-container {
    display: block;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
  }
  
  .placeholder-select {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
  