@import "../../../../scss/colors";

$spacing: 42px;

.h2{
    font-size: 24px;
}

.button {
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    text-align: center;
    outline: none;
    border: 0;
    background-color:$red-books;
    border: 1px solid $red-books;
}

.calendarLayout {
    background-color: rgba(239, 239, 239, 0.524);
    padding: $spacing/2 $spacing 0 $spacing;
    
    .elements {
        display: flex;
        justify-content: center;
        gap: $spacing;
        align-items: center;
        justify-items: space-around;
        padding: 1rem 0 3rem;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        gap: 1.5rem;
        padding: 2rem;
        background-color: $white-books;
        box-shadow: var(--main-box-shadow);
        border-radius: 0.5rem;

        .h3 {
            font-size: 24px;
            padding: 1rem 0;
        }

        .button{
            width: 100%;
        }

        grid-column: x2 / x3;
        grid-row: y0 / y1;
    }

    .container{
        grid-column: x0 / x2;
        grid-row: y0 / y1;
    }
}



@media only screen and (max-width: 768px) {
    .calendarLayout {
        background-color: rgba(239, 239, 239, 0.524);
        padding: $spacing/2 $spacing/2 0 $spacing/2;

        .elements {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            justify-items: space-around;
            padding: 1rem 0 2rem;
            
            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0;
                padding: 0;
                background-color: transparent;
                box-shadow: var(--main-box-shadow);
                border-radius: 0.5rem;
                width: 100%;
                
                .h3 {
                    font-size: 16px;
                    padding: 0;
                }

                .buttonReserva{
                    width: 50%;
                }
                
                grid-column: x2 / x3;
                grid-row: y0 / y1;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:1280px) {
    .calendarLayout {
        background-color: rgba(239, 239, 239, 0.524);
        padding: $spacing/2 $spacing 0 $spacing;

        .elements {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $spacing;
            align-items: center;
            justify-items: space-around;
            padding: 1rem 0 3rem;
            
            .form{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1.5rem;
                padding: 0 2rem;
                background-color: transparent;
                box-shadow: var(--main-box-shadow);
                border-radius: 0.5rem;
                width: 100%;
                
                .h3 {
                    font-size: 16px;
                    padding: 0;
                    width: 50%;
                }

                .buttonReserva{
                    width: 50%;
                }
                
                grid-column: x2 / x3;
                grid-row: y0 / y1;
            }
        }
    }
}
    
    @media only screen and (min-width: 1280px) {
        
    }