@import "../../scss/colors";

.contenedorSpinner{
    height: 100vh;
    display: flex ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
}

.spinnerReactstrap{
    width: 100px !important;
    height: 100px !important;

    border: 10px solid $red-books !important;
    border-right-color:transparent !important;
}